/* ESTILO INDEX.HTML */

.bodyIndex{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav{
    color: aliceblue;
    background-color: #87b1ef;
    overflow: hidden;
}
nav ul{
    list-style: none;
    margin: auto;
}
nav ul li a{
    color: aliceblue;
    text-decoration: none;
}
.menuList{
    display: flex;
    flex: 1;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menuItem{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.menuItem:not(:last-child) {
    border-right: 1px solid white;
}
.menuForm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
}
.bigFont{
    font-size: 35px;
}
input[type=text]{
    border: #709ee4;
    margin: 5px;
    width: 200px;
    height: 25px;
}
input[type=submit]{
    color:#87b1ef;
    border: #709ee4;
    background-color: aliceblue;
    margin: 5px;
    height: 25px;
}

.listStudents{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    list-style: none;
    padding: 0;
}
.noResults{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #87b1ef;
    font-size: 140%;
}

.listItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: #87b1ef;
    background-color: #f5f7f9;
    box-shadow: 2px 2px 0px rgba(108, 108, 108, 0.3);
}
.listItem img, .pfpList{
    width: 100px;
    height: 150px;
}
.listItem:hover{
    background-color: #99c5dd;
    transform: scale(1.1) rotate(5deg);
}
section ul li a{
    color: #87b1ef;
    text-decoration: none;
}

footer{
    margin-top: auto;
    text-align: center;
    background-color: #87b1ef;
    padding: 5px;
}


/* ESTILO PERFIL.HTML */

.Descripcion{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 15px;
}
.email:visited{
    color: red;
}
h1, #perfilEmail{
    color: #91116f;
}
.tarjetaPerfil{
    display: flex;
    justify-content: left;
}
.pfp{
    display: flex;
    width: 210px;
    height: 375px;
    border-top-left-radius: 4pc;
}
.DatosPerfil{
    width: 100%;
    max-width: 800px;
    padding: 20px;
    height: 330px;
    border: 3px solid #91116f;
    box-shadow: 10px 10px 0px rgba(57, 7, 131, 0.3);
    background: linear-gradient(to bottom right, #6593f5, #b88dff);
}


/* Media Queries para todos */

/*Dispositivos Móviles*/
@media only screen and (max-width: 480px) {
    nav{
        flex: 1;
        font-size: 60%;
    }
    .bigFont{
        font-size: 150%;
    }
    input[type=text]{
        margin: 5px;
        width: 25%;
        height: auto;
    }
    input[type=submit]{
        height: auto;
    }

    .listStudents{
        grid-template-columns: repeat(3, 1fr);
    }
    h1{
        font-size: 100%;
    }
    .text{
        font-size: 60%;
    }
    .pfp{
        width: 100%;
    }
    .DatosPerfil{
        width: 100%;
        overflow: scroll;
    }
    .tarjetaPerfil{
        display: flex;
        align-items: flex-start;
        width: 80%;
        max-width: 100%;
    }
}

/*iPads, Tablets*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
    nav{
        flex: 1;
        font-size: 80%;
    }
    .bigFont{
        font-size: 180%;
    }
    h1{
        font-size: 120%;
    }
    .text{
        font-size: 75%;
    }
    .pfp{
        width: auto;
    }
    .DatosPerfil{
        width: auto;
        max-width: 60%;
    }
    .tarjetaPerfil{
        display: flex;
        align-items: flex-start;
        width: 100%;
    }
}

/*Pantallas pequeñas, ordenadores portátiles*/
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    h1{
        font-size: 120%;
    }
    .text{
        font-size: 90%;
    }
    .pfp{
        width: auto;
    }
    .DatosPerfil{
        width: auto;
        max-width: 60%;
    }
    .tarjetaPerfil{
        display: flex;
        align-items: flex-start;
        width: 100%
    }
}

/*Pantallas grandes, ordenadores de escritorio*/
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    h1{
        font-size: 120%;
    }
    .text{
        font-size: 75%;
    }
    .pfp{
        width: auto;
    }
    .DatosPerfil{
        width: auto;
        max-width: 60%;
    }
    .tarjetaPerfil{
        display: flex;
        align-items: flex-start;
        width: 90%;
        max-width: 700px;
    }
}